name: Deploy Next.js Static Export to Server

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build and export
        run: |
          npm run build

      - name: Deploy using to ec2 using Rsync
        uses: burnett01/rsync-deployments@7.0.2
        with:
          switches: -avz --delete
          remote_path: /var/www/html/
          remote_host: ${{ secrets.EC2_HOST }}
          remote_user: ${{ secrets.EC2_USER }}
          remote_key: ${{ secrets.EC2_SSH_KEY }}
          local_path: out/
